<section class="section bg js-mode-bg" id="about-us">
  <div class="container">
    <div class="about-section">
      <h2 class="about-title title js-mode-text" data-aos="fade-down">
        About us
      </h2>
      <ul class="about-list" data-aos="fade-left">
        <li class="about-item">
          <p class="about-text js-mode-text">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your wrist.
          </p>
        </li>
        <li class="about-item" data-aos="fade-left">
          <p class="about-text js-mode-text">
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device – it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best? Browse our collection today and discover the perfect
            watch for you.
          </p>
        </li>
      </ul>
    </div>
    <div class="about-wrap" data-aos="fade-left">
      <img
        class="about-img"
        src="/img/about_us/watchspot.gif"
        alt="watch"
        width="336"
        height="365"
      />
    </div>
  </div>
</section>
