<div class="mobile-menu">
  <div class="logo-header">
    <img src="/img/logo.svg" alt="logo" class="svg-header" />
    <p class="header-logo-text">thewatchspot</p>
  </div>
  <button aria-label="close modal window" class="menu-close-btn">
    <svg class="menu-close-icon">
      <use href="/img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="menu-list">
    <li class="menu-item">
      <a href="#about-us" class="menu-link">About us</a>
    </li>
    <li class="menu-item"><a href="#catalog" class="menu-link">Catalog</a></li>
    <li class="menu-item"><a href="#sale" class="menu-link">Sale</a></li>
  </ul>
</div>