<!--============Catalog section-->
<section id="catalog" class="section catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-1@2x.jpg 2x"
            src="/img/catalog/watch-1.jpg"
            alt="watch image"
            width="275"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <span class="catalog-price">€395</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-2@2x.jpg 2x"
            src="/img/catalog/watch-2.jpg"
            alt="watch image"
            width="276"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">Avondale Watch Police For Men</p>
          <span class="catalog-price">€800</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-3@2x.jpg 2x"
            src="/img/catalog/watch-3.jpg"
            alt="watch image"
            width="276"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-price">€600</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-4@2x.jpg 2x"
            src="/img/catalog/watch-4.jpg"
            alt="watch image"
            width="276"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-price">€1400</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-5@2x.jpg 2x"
            src="/img/catalog/watch-5.jpg"
            alt="watch image"
            width="276"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">Taman Watch By Police For Men</p>
          <span class="catalog-price">€500</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-6@2x.jpg 2x"
            src="/img/catalog/watch-6.jpg"
            alt="watch image"
            width="276"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">Malawi Watch Police For Men</p>
          <span class="catalog-price">€555</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-7@2x.jpg 2x"
            src="/img/catalog/watch-7.jpg"
            alt="watch image"
            width="276"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-price">€1200</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-8@2x.jpg 2x"
            src="/img/catalog/watch-8.jpg"
            alt="watch image"
            width="276"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">Greenlane Watch By Police For Men</p>
          <span class="catalog-price">€1000</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-9@2x.jpg 2x"
            src="/img/catalog/watch-9.jpg"
            alt="watch image"
            width="276"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">Squardrc 5402 Chrono</p>
          <span class="catalog-price">€359</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-10@2x.jpg 2x"
            src="/img/catalog/watch-10.jpg"
            alt="watch image"
            width="276"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-price">€400</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-11@2x.jpg 2x"
            src="/img/catalog/watch-11.jpg"
            alt="watch image"
            width="276"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">Citizen</p>
          <span class="catalog-price">€519</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-12@2x.jpg 2x"
            src="/img/catalog/watch-12.jpg"
            alt="watch image"
            width="276"
            height="274"
          />
        </div>
        <div class="catalog-content">
          <p class="catalog-description">Armani Exchange</p>
          <span class="catalog-price">€400</span>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-btn">Buy now</button>
  </div>
</section>
