<!--============Catalog section-->
<section id="catalog" class="section catalog mode-bg">
  <div class="container">
    <h2 class="catalog-title title mode-title" data-aos="fade-down">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-thumb" data-aos="fade-right">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-1@2x.png 2x"
            src="/img/catalog/watch-1.png"
            alt="watch image"
            width="275"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-content" data-aos="fade-up">
          <p class="catalog-description mode-text">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <span class="catalog-price mode-semi-tr">€395</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb" data-aos="fade-right">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-2@2x.png 2x"
            src="/img/catalog/watch-2.png"
            alt="watch image"
            width="276"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-content" data-aos="fade-up">
          <p class="catalog-description mode-text">
            Avondale Watch Police For Men
          </p>
          <span class="catalog-price mode-semi-tr">€800</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb" data-aos="fade-left">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-3@2x.png 2x"
            src="/img/catalog/watch-3.png"
            alt="watch image"
            width="276"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-content" data-aos="fade-up">
          <p class="catalog-description mode-text">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-price mode-semi-tr">€600</span>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb" data-aos="fade-left">
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-4@2x.png 2x"
            src="/img/catalog/watch-4.png"
            alt="watch image"
            width="276"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div class="catalog-content" data-aos="fade-up">
          <p class="catalog-description mode-text">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-price mode-semi-tr">€1400</span>
        </div>
      </li>
      <li class="catalog-item">
        <div
          class="catalog-thumb"
          data-aos="fade-right"
          data-aos-duration="1500"
        >
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-5@2x.png 2x"
            src="/img/catalog/watch-5.png"
            alt="watch image"
            width="276"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div
          class="catalog-content"
          data-aos="fade-up"
          data-aos-duration="1500"
        >
          <p class="catalog-description mode-text">
            Taman Watch By Police For Men
          </p>
          <span class="catalog-price mode-semi-tr">€500</span>
        </div>
      </li>
      <li class="catalog-item">
        <div
          class="catalog-thumb"
          data-aos="fade-right"
          data-aos-duration="1500"
        >
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-6@2x.png 2x"
            src="/img/catalog/watch-6.png"
            alt="watch image"
            width="276"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div
          class="catalog-content"
          data-aos="fade-up"
          data-aos-duration="1500"
        >
          <p class="catalog-description mode-text">
            Malawi Watch Police For Men
          </p>
          <span class="catalog-price mode-semi-tr">€555</span>
        </div>
      </li>
      <li class="catalog-item">
        <div
          class="catalog-thumb"
          data-aos="fade-left"
          data-aos-duration="1500"
        >
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-7@2x.png 2x"
            src="/img/catalog/watch-7.png"
            alt="watch image"
            width="276"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div
          class="catalog-content"
          data-aos="fade-up"
          data-aos-duration="1500"
        >
          <p class="catalog-description mode-text">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-price mode-semi-tr">€1200</span>
        </div>
      </li>
      <li class="catalog-item">
        <div
          class="catalog-thumb"
          data-aos="fade-left"
          data-aos-duration="1500"
        >
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-8@2x.png 2x"
            src="/img/catalog/watch-8.png"
            alt="watch image"
            width="276"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div
          class="catalog-content"
          data-aos="fade-up"
          data-aos-duration="1500"
        >
          <p class="catalog-description mode-text">
            Greenlane Watch By Police For Men
          </p>
          <span class="catalog-price mode-semi-tr">€1000</span>
        </div>
      </li>
      <li class="catalog-item">
        <div
          class="catalog-thumb"
          data-aos="fade-right"
          data-aos-duration="2000"
        >
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-9@2x.png 2x"
            src="/img/catalog/watch-9.png"
            alt="watch image"
            width="276"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div
          class="catalog-content"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <p class="catalog-description mode-text">Squardrc 5402 Chrono</p>
          <span class="catalog-price mode-semi-tr">€359</span>
        </div>
      </li>
      <li class="catalog-item">
        <div
          class="catalog-thumb"
          data-aos="fade-right"
          data-aos-duration="2000"
        >
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-10@2x.png 2x"
            src="/img/catalog/watch-10.png"
            alt="watch image"
            width="276"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div
          class="catalog-content"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <p class="catalog-description mode-text">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-price mode-semi-tr">€400</span>
        </div>
      </li>
      <li class="catalog-item">
        <div
          class="catalog-thumb"
          data-aos="fade-left"
          data-aos-duration="2000"
        >
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-11@2x.png 2x"
            src="/img/catalog/watch-11.png"
            alt="watch image"
            width="276"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div
          class="catalog-content"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <p class="catalog-description mode-text">Citizen</p>
          <span class="catalog-price mode-semi-tr">€519</span>
        </div>
      </li>
      <li class="catalog-item">
        <div
          class="catalog-thumb"
          data-aos="fade-left"
          data-aos-duration="2000"
        >
          <img
            class="catalog-img"
            srcset="/img/catalog/watch-12@2x.png 2x"
            src="/img/catalog/watch-12.png"
            alt="watch image"
            width="276"
            height="274"
          />
          <div class="catalog-overlay">
            <h3 class="catalog-overlay-title">Description</h3>
            <p class="catalog-overlay-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-overlay-title">Details & Features</h3>
            <ul class="catalog-overlay-text">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel Band</li>
              <li>Material: Metal Case</li>
              <li>Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
        <div
          class="catalog-content"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <p class="catalog-description mode-text">Armani Exchange</p>
          <span class="catalog-price mode-semi-tr">€400</span>
        </div>
      </li>
    </ul>
    <div class="buy-wrap" data-aos="fade-up">
      <button type="button" class="catalog-btn" disabled>Buy now</button>
    </div>
  </div>
</section>
