<footer class="footer-container">

  <div class="container footer-container-positions">

    <div class="footer-containers">
      <div class="footer-address">
        <a href="./index.html" class="footer-logo">
          <img src="./img/logo.svg" alt="Logo" width="40" height="40">
        </a>

        <a href="tel:+380684439426" class="footer-tel">+380 (68) 443-94-26</a>
        <a href="https://www.google.com.ua/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%A8%D0%90/@40.728122,-112.183063,10.83z/data=!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?hl=ru"
          class="footer-maps" target="_blank">1678
          S. Pioneer Road
          Salt Lake City <br>
          UT 84104</a>
      </div>
      <div class="footer-positions">

        <ul class="footer-navigation">
          <li>
            <a href="" class="footer-navigation-text">ABOUT US</a>
          </li>
          <li>
            <a href="" class="footer-navigation-text">CATALOG</a>
          </li>
          <li>
            <a href="" class="footer-navigation-text">SALE</a>
          </li>
        </ul>


      </div>

      <div class="footer-social-container">
        <ul class="footer-socials">
          <li>
            <a href="https://uk-ua.facebook.com/" class="footer-social" target="_blank">
              <svg class="" width="24" height="24">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/" class="footer-social" target="_blank">
              <svg class="" width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/" class="footer-social" target="_blank">
              <svg class="" width="24" height="24">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>

        </ul>
      </div>
    </div>

    <ul class="footer-position-container">
      <li class="footer-about-margin">

        <span class="footer-last-text">
          &#169;2022 The Watch Spot. All rights reserved.
        </span>

      </li>

      <li class="footer-text-between">

        <span class="footer-last-text footer-margin">
          Privacy Policy
        </span>

        <span class="footer-last-text">
          Terms of Service
        </span>

      </li>
    </ul>

  </div>

</footer>