<footer class="footer-container">
  <div class="container footer-container-positions">
    <div class="footer-containers">
      <div class="footer-address" data-aos="fade-right">
        <a href="./index.html" class="footer-logo" data-aos="fade-down">
          <img src="./img/logo.svg" alt="Logo" />
        </a>
        <a href="tel:+380684439426" class="footer-tel footer-hover"
          >+380 (68) 443-94-26</a
        >
        <a
          href="https://www.google.com.ua/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%A8%D0%90/@40.728122,-112.183063,10.83z/data=!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?hl=ru"
          class="footer-maps footer-hover"
          target="_blank"
          >1678 S. Pioneer Road Salt Lake City <br />
          UT 84104</a
        >
      </div>
      <div class="footer-positions">
        <ul class="footer-navigation">
          <li data-aos="fade-down" data-aos-duration="2000">
            <a href="#about-us" class="footer-navigation-text footer-hover"
              >ABOUT US</a
            >
          </li>
          <li data-aos="fade-down" data-aos-duration="1500">
            <a href="#catalog" class="footer-navigation-text footer-hover"
              >CATALOG</a
            >
          </li>
          <li data-aos="fade-down">
            <a href="#sale" class="footer-navigation-text footer-hover">SALE</a>
          </li>
        </ul>
      </div>

      <div class="footer-social-container">
        <ul class="footer-socials">
          <li data-aos="fade-left">
            <a
              class="footer-social"
              href="https://uk-ua.facebook.com/"
              target="_blank"
            >
              <svg
                class="footer-svg-color footer-use-color"
                width="24"
                height="24"
              >
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li data-aos="fade-left">
            <a
              class="footer-social"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg
                class="footer-svg-color footer-use-color"
                width="24"
                height="24"
              >
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li data-aos="fade-left">
            <a
              class="footer-social"
              href="https://www.youtube.com/"
              target="_blank"
            >
              <svg
                class="footer-svg-color footer-use-color"
                width="24"
                height="24"
              >
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="footer-position-container">
      <li class="footer-about-margin">
        <span class="footer-last-text">
          &#169;2022 The Watch Spot. All rights reserved.
        </span>
      </li>

      <li class="footer-text-between">
        <span class="footer-last-text footer-margin"> Privacy Policy </span>

        <span class="footer-last-text"> Terms of Service </span>
      </li>
    </ul>
  </div>
</footer>
