<div class="sectionheader" id="header">
  <div class="container header-container">
    <div data-aos="fade-right">
      <a class="logo-header" href="./index.html">
        <img src="/img/logo.svg" alt="logo" class="svg-header" />
        <p class="header-logo-text">thewatchspot</p>
      </a>
    </div>
    <ul class="header-list" data-aos="fade-right">
      <li>
        <a class="header-text" href="#about-us">About us</a>
      </li>
      <li>
        <a class="header-text" href="#catalog">Catalog</a>
      </li>
      <li>
        <a class="header-text" href="#sale">sale</a>
      </li>
    </ul>
    <div class="aos-container header-actions-container" data-aos="fade-left">
      <button class="mode-btn" type="button">
        <span class="btn-circle"></span>
      </button>
      <div class="aos-container header-btn-container" data-aos="fade-left"><a class="btn-header" href="tel:+380684439426">+380 (68) 443-94-26</a></div>
    </div>
  </div>
  <div class="container header-container-mob">
    <div class="logo-header">
      <img src="/img/logo.svg" alt="logo" class="svg-header" />
      <p class="header-logo-text">thewatchspot</p>
    </div>
    <ul class="header-list-mob">
      <li>
        <a class="header-text" href="#about-us">About us</a>
      </li>
      <li>
        <a class="header-text" href="#catalog">Catalog</a>
      </li>
      <li>
        <a class="header-text" href="#sale">sale</a>
      </li>
    </ul>
    <div class="header-actions-container">
      <button class="mode-btn-mobile" type="button">
          <span class="btn-circle-mobile"></span>
        </button>
    </div>
      <button class="btn-menu" type="button" aria-expanded="false">
        <svg class="svg-menu" width="20" height="14">
          <use href="/img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
