<header>
  <div class="container header-container">
    <div class="logo_header">
      <img src="/img/logo.svg" alt="logo" class="svg_header">
      <p class="header_logo_text">thewatchspot</p>
    </div>
    <ul class="header_list">
      <li>
        <a class="header-text" href="">About us</a>
      </li>
      <li>
        <a class="header-text" href="">Catalog</a>
      </li>
      <li>
        <a class="header-text" href="">sale</a>
      </li>
    </ul>
    <button class="btn_header" type="button">
      <address>
        <a class="header_tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
    </button>
  </div>
  <div class='container header-container-mob'>
    <div class="logo_header">
      <img src="/img/logo.svg" alt="logo" class="svg_header">
      <p class="header_logo_text">thewatchspot</p>
    </div>
    <ul class="header_list-mob">
      <li>
        <a class="header-text" href="">About us</a>
      </li>
      <li>
        <a class="header-text" href="">Catalog</a>
      </li>
      <li>
        <a class="header-text" href="">sale</a>
      </li>
    </ul>
    <button class="btn_menu" type="button" aria-expanded="false">
      <svg class="svg_menu" width="20" height="14">
        <use href="../img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  </div>
</header>

