<section class='section hero'>
  <div class='container'>
    
        <h1 class="hero-title">Welcome to our collection of premium watches</h1>
      
        <div class="swiper mySwiper swiper-horizontal">
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide hero-img">
              <img class="hero-foto" 
              srcset="/img/hero/mobile/tablet1-1x.png 1x, /img/hero/mobile/tablet1-2x.png 2x"  
              src="/img/hero/mobile/watches1-1x.png" alt="watches" width="266" height="190">
              <p class="hero-nomber"> <span class="swiper-nomber">01</span> 05</p>
            </div>
            <div class="swiper-slide hero-img">
              <img class="hero-foto" 
              srcset="/img/hero/mobile/tablet2-1x.png 1x, /img/hero/mobile/tablet2-2x.png 2x"
              src="/img/hero/mobile/watches2-1x.png" alt="watches" width="266" height="190">
              <p class="hero-nomber"> <span class="swiper-nomber">02</span> 05</p>
            </div>
            <div class="swiper-slide hero-img">
              <img class="hero-foto" 
              srcset="/img/hero/mobile/tablet3-1x.png 1x, /img/hero/mobile/tablet3-2x.png 2x"
              src="/img/hero/mobile/watches3-1x.png" alt="watches" width="266" height="190">
              <p class="hero-nomber"> <span class="swiper-nomber">03</span> 05</p>
            </div>
            <div class="swiper-slide hero-img">
              <img class="hero-foto" 
              srcset="/img/hero/mobile/tablet4-1x.png 1x, /img/hero/mobile/tablet4-2x.png 2x"
              src="/img/hero/mobile/watches4-1x.png" alt="watches" width="266" height="190">
              <p class="hero-nomber"> <span class="swiper-nomber">04</span> 05</p>
            </div>
            <div class="swiper-slide hero-img">
              <img class="hero-foto" 
              srcset="/img/hero/mobile/tablet5-1x.png 1x, /img/hero/mobile/tablet5-2x.png 2x" 
              src="/img/hero/mobile/watches5-1x.png" alt="watches" width="266" height="190">
              <p class="hero-nomber"> <span class="swiper-nomber">05</span> 05</p>
            </div>
          </div>
      </div>
      <div class="swiper-buttons">
        <div class="button-prev">
          <button class="hero-btn" type="button">
            <svg class="hero-icon" width="18" height="18">
              <use href="/img/sprite.svg#icon-prev"></use>
            </svg>
          </button>
        </div>
        <div class="button-next">
          <button class="hero-btn" type="button">
            <svg class="hero-icon" width="18" height="18">
              <use href="/img/sprite.svg#icon-next"></use>
            </svg>
          </button>   
      </div>
      </div>
  <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle.
    From classic designs to
    modern ones, we have a watch to suit every taste and occasion.</p>
    <picture>
      <source 
      srcset="/img/hero/desctop-1x.jpg 1x, /img/hero/desctop-2x.jpg 2x"
      media="(min-width: 1280px)"
      >
      <source
      srcset="/img/hero/tablet-1x.jpg 1x, /img/hero/tablet-2x.jpg 2x"
      media="(min-width: 768px)"
      >
      <source
      srcset="/img/hero/mobile-1x.jpg 1x, /img/hero/mobile-2x.jpg 2x"
      media="(max-width: 767px)"
      >   
      <img class="hero-watches-img" src="/img/hero/tablet-1x.jpg" alt="watches" width="345" height="410">
    </picture>
        
  </div>
</section>