<section class='section'>
  <div class='container'>
    
        <h1 class="hero-title">Welcome to our collection of premium watches</h1>
      
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide hero-img">
              <img srcset="../img/hero/mobile1-2x.png 2x" src="../img/hero/mobile1-1x.png" alt="watches" width="266" height="190">
              <p class="hero-nomber"> <span class="swiper-nomber">01</span> 05</p>
            </div>
            <div class="swiper-slide hero-img">
              <img srcset="../img/hero/mobile2-2x.png 2x" src="../img/hero/mobile2-1x.png" alt="watches" width="266" height="190">
              <p class="hero-nomber"> <span class="swiper-nomber">02</span> 05</p>
            </div>
            <div class="swiper-slide hero-img">
              <img srcset="../img/hero/mobile3-2x.png 2x" src="../img/hero/mobile3-1x.png" alt="watches" width="266" height="190">
              <p class="hero-nomber"> <span class="swiper-nomber">03</span> 05</p>
            </div>
            <div class="swiper-slide hero-img">
              <img srcset="../img/hero/mobile4-2x.png 2x" src="../img/hero/mobile4-1x.png" alt="watches" width="266" height="190">
              <p class="hero-nomber"> <span class="swiper-nomber">04</span> 05</p>
            </div>
            <div class="swiper-slide hero-img">
              <img srcset="../img/hero/mobile5-2x.png 2x" src="../img/hero/mobile5-1x.png" alt="watches" width="266" height="190">
              <p class="hero-nomber"> <span class="swiper-nomber">05</span> 05</p>
            </div>
          </div>
      </div>
      <div class="swiper-buttons">
        <div class="button-prev">
          <button class="hero-btn" type="button">
            <svg class="hero-icon" width="18" height="18">
              <use href="../img/hero/chevron-left.svg"></use>
            </svg>
          </button>
        </div>
        <div class="button-next">
          <button class="hero-btn" type="button">
            <svg class="hero-icon" width="18" height="18">
              <use href="../img/hero/chevron-left.svg"></use>
            </svg>
          </button>
          <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle.
            From classic designs to
            modern ones, we have a watch to suit every taste and occasion.</p>
      </div>
      </div>
   
         
        
        <img src="../img/hero/watches-1x.jpg" alt="watches" width="345" height="410">
    
   
        
  </div>
</section>