<section class="section new-watches mode-bg-secondary">
  <div class="container">
    <h2 class="new-watches-title mode-semi-tr" data-aos="fade-down">
      New watches
    </h2>
    <h3 class="new-watches-subtitle title mode-title" data-aos="fade-down">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-watches-list list">
      <li class="new-watches-item" data-aos="fade-down">
        <picture>
          <source
            srcset="
              ./img/new_watches/hand-watches-des.jpg,
              ./img/new_watches/hand-watches-des-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./img/new_watches/hand-watches-tab.jpg,
              ./img/new_watches/hand-watches-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/new_watches/hand-watches.jpg,
              ./img/new_watches/hand-watches-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/new_watches/hand-watches.jpg" alt="Hand watches" />
        </picture>
      </li>
      <li class="new-watches-item" data-aos="fade-up">
        <picture>
          <source
            srcset="
              ./img/new_watches/watches-des.jpg,
              ./img/new_watches/watches-des-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./img/new_watches/watches-tab.jpg,
              ./img/new_watches/watches-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/new_watches/watches.jpg,
              ./img/new_watches/watches-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img src="./img/new_watches/watches.jpg" alt="Watches" />
        </picture>
      </li>
    </ul>
  </div>
</section>
