<section class="section new-watches">
  <div class="container">
    <h2 class="new-watches-title title">New watches</h2>
    <h3 class="new-watches-subtitle title">
      Green And Bronze—The Match Made In Heaven
    </h3>

    <ul class="new-watches-list list">
      <li class="new-watches-item">
        <img
          srcset="../img/new_watches/hand-watches-2x.jpg 2x"
          src="../img/new_watches/hand-watches.jpg"
          alt="Hand watches"
          width="335"
          height="260"
        />
      </li>
      <li class="new-watches-item">
        <img
          srcset="../img/new_watches/watches-2x.jpg 2x"
          src="../img/new_watches/watches.jpg"
          alt=""
          width="335"
          height="260"
        />
      </li>
    </ul>
  </div>
</section>
