<section class="section sale mode-bg" id="sale">
  <div class="container sale-container-desktop">
    <h2 class="sale-titel mode-title">Sale</h2>
    <div class="sale-tabl-infor">
      <div class="sale-gallery">
        <ul class="cart-set">
          <li class="sale-bg-img list" data-aos="fade-right">
            <picture class="sale-watch-img">
              <source
                srcset="
                  /img/sale/images/sale1/sale1-1x.png 1x,
                  /img/sale/images/sale1/sale1-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/sale/images/sale1/sale1-tab-1x.png 1x,
                  /img/sale/images/sale1/sale1-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale/images/sale1/sale1-mobl-1x.png 1x,
                  /img/sale/images/sale1/sale1-mobl-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/sale/images/sale1/sale1-mobl-1x.png"
                alt="watch on hand"
                width="80"
              />
            </picture>
          </li>
          <li
            class="sale-bg-img list"
            data-aos="fade-right"
            data-aos-duration="1250"
          >
            <picture class="sale-watch-img">
              <source
                srcset="
                  /img/sale/images/sale2/sale2-1x.png 1x,
                  /img/sale/images/sale2/sale2-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/sale/images/sale2/sale2-tab-1x.png 1x,
                  /img/sale/images/sale2/sale2-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale/images/sale2/sale2-mobl-1x.png 1x,
                  /img/sale/images/sale2/sale2-mobl-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/sale/images/sale2/sale2-mobl-1x.png"
                alt="watch on hand"
                width="80"
              />
            </picture>
          </li>
          <li
            class="sale-bg-img list"
            data-aos="fade-right"
            data-aos-duration="1500"
          >
            <picture class="sale-watch-img">
              <source
                srcset="
                  /img/sale/images/sale3/sale3-1x.png 1x,
                  /img/sale/images/sale3/sale3-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/sale/images/sale3/sale3-tab-1x.png 1x,
                  /img/sale/images/sale3/sale3-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale/images/sale3/sale3-mobl-1x.png 1x,
                  /img/sale/images/sale3/sale3-mobl-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/sale/images/sale3/sale3-mobl-1x.png"
                alt="watch on hand"
                width="80"
              />
            </picture>
          </li>
          <li
            class="sale-bg-img list"
            data-aos="fade-right"
            data-aos-duration="1750"
          >
            <picture class="sale-watch-img">
              <source
                srcset="
                  /img/sale/images/sale4/sale4-1x.png 1x,
                  /img/sale/images/sale4/sale4-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/sale/images/sale4/sale4-tab-1x.png 1x,
                  /img/sale/images/sale4/sale4-tab-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale/images/sale4/sale4-mobl-1x.png 1x,
                  /img/sale/images/sale4/sale4-mobl-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/sale/images/sale4/sale4-mobl-1x.png"
                alt="watch on hand"
                width="80"
              />
            </picture>
          </li>
        </ul>

        <div class="sale-bg-img" data-aos="fade-down">
          <picture class="sale-pictur-big">
            <source
              srcset="
                /img/sale/images/big/sale-big-img1x.png 1x,
                /img/sale/images/big/sale-big-img2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/sale/images/big/sale-big-img-tab1x.png 1x,
                /img/sale/images/big/sale-big-img-tab2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/images/big/sale-big-img-mobl1x.png 1x,
                /img/sale/images/big/sale-big-img-mobl2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/sale/images/big/sale-big-img-mobl1x.png"
              alt="watch on hand"
              width="235"
            />
          </picture>
        </div>
      </div>

      <div class="sale-desktop-text">
        <div data-aos="fade-left">
          <h3 class="title-watch-name mode-text">
            Greenlane Watch By Police For MenHT
          </h3>
          <p class="sale-producy mode-text">Product tag: PEWJK2227003</p>
          <div class="price">
            <div class="price-mrp">
              <span class="value-sale mode-text">€700</span>
              <span class="value-full-price mode-semi-tr">€1000</span>
            </div>
          </div>
        </div>

        <div class="sale-description-functional" data-aos="fade-left">
          <h4 class="sale-description mode-text">Description</h4>
          <p class="description-functional psale mode-semi-tr">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>

        <div class="sale-description-functional" data-aos="fade-left">
          <h4 class="sale-description mode-text">DETAILS & FEATUREStion</h4>
          <ul class="description-functional mode-semi-tr">
            <li class="list">Gender: man</li>
            <li class="list">Size: 46x54.5mm</li>
            <li class="list">Case Colour: Steel</li>
            <li class="list">Band Material: Metal</li>
            <li class="list">Case Material: Metal</li>
            <li class="list">Features: Multifunction</li>
            <li class="list">Water Resistant: 5 (ATM)</li>
            <li class="list">Band Colour: Steel</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
