.section.bg {
  background: var(--color-bg);
  padding-top: 40px;
}

.about-title {
  margin-bottom: 40px;
}

.about-item {
  margin-bottom: 20px;
}

.about-item:last-child {
  margin-bottom: 40px;
}

.about-text {
  font-weight: 300;
}

.about-img {
  background-size: cover;
}