.overflow-hidden {
    overflow: hidden;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    width: 100%;
    height: 100%;

    background-color: var(--color-black-05);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-duration: 600ms;
}

.backdrop-animation {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -200%);
    -webkit-transform: translate(-50%, -200%);
    -moz-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    -o-transform: translate(-50%, -200%);
    z-index: 100;

    width: 335px;
    height: 100%;
    overflow-y: auto;
    padding: 40px 20px;

    background-color: var(--color-white);
    box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05),
                0px 0px 130.6px rgba(0, 0, 0, 0.037963),
                0px 0px 71.0296px rgba(0, 0, 0, 0.0303704),
                0px 0px 36.2375px rgba(0, 0, 0, 0.025),
                0px 0px 18.1704px rgba(0, 0, 0, 0.0196296),
                0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
    transition-duration: 600ms;
}

.modal-animation {
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.modal-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;

    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;

    background-color: transparent;
}

.modal-close-icon {
    width: 20px;
    height: 20px;

    stroke: var(--color-black);
}

.modal-column {
    max-width: 295px;
}

@media screen and (max-width: 374px) {
    .modal-column {
        width: 90%;
        margin: 0 auto;
    }
}

.added-watch {
    max-width: 335px;
}

.modal-thumb {
    padding: 25px 10px;
}

.modal-name {
    max-width: 276px;
    margin-top: 40px;
}

.modal-form {
    margin-top: 40px;
}

.form-field:not(:first-child) {
    margin-top: 18px;
}

.form-label {
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--color-black);
}

.form-input {
    display: block;
    width: 100%;
    height: 42px;
    border: 1px solid var(--color-black-05);
    padding: 12px 16px;
    margin-top: 12px;

    font-size: 14px;
    line-height: calc(18 / 14);
    color: var(--color-black);
    letter-spacing: -0.02em;

    background-color: var(--color-white);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    outline: 1px solid transparent;
    transition-duration: 300ms;
}

.form-input:invalid:not(:placeholder-shown, :focus) {
    border-color: transparent !important;
    outline: 1px solid red;
}

.form-input::placeholder {
    font-size: 14px;
    line-height: calc(18 / 14);
    color: var(--color-black-05);
    letter-spacing: -0.02em;
}

.form-textarea {
    height: 170px;
    resize: none;
}

.modal-btn {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    margin-top: 20px;

    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--color-white);
    text-transform: uppercase;

    background-color: var(--color-dark-green);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition-duration: 300ms;
}

.modal-btn:is(:hover, :focus) {
    box-shadow: inset 295px 0 0 0 rgba(255, 255, 255, .3)
}

.privacy-text {
    margin-top: 12px;
}

.privacy-link {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: underline;
    color: var(--color-black-05);
}

@media screen and (min-width: 768px) {
    .modal {
        top: 50%;
        transform: translate(-50%, -200%);
        -webkit-transform: translate(-50%, -200%);
        -moz-transform: translate(-50%, -200%);
        -ms-transform: translate(-50%, -200%);
        -o-transform: translate(-50%, -200%);

        width: 750px;
        height: 670px;
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }

    .modal-animation {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    .modal-close-btn {
        top: 20px;
        right: 20px;

        width: 24px;
        height: 24px;
    }

    .modal-close-icon {
        width: 24px;
        height: 24px;
    }

    .modal-column {
        max-width: 368px;
    }

    .modal-form {
        margin: 0;
    }

    .form-label {
        font-size: 14px;
        line-height: calc(18 / 14);
    }

    .form-input {
        font-size: 16px;
        line-height: calc(18 / 16);
    }

    .form-textarea {
        height: 166px;
    }

    .form-input::placeholder {
        font-size: 16px;
        line-height: calc(18 / 16);
    }

    .modal-btn:is(:hover, :focus) {
        box-shadow: inset 368px 0 0 0 rgba(255, 255, 255, .3)
    }
}

@media screen and (min-width: 1280px) {
    .modal {
        width: 904px;
        height: 694px;
        gap: 40px;
    }

    .modal-column {
        max-width: 507px;
    }

    .form-field:not(:first-child) {
        margin-top: 24px;
    }

    .modal-btn {
        margin-top: 40px;
    }

    .modal-btn:is(:hover, :focus) {
        box-shadow: inset 507px 0 0 0 rgba(255, 255, 255, .3)
    }
}