/*==========Mobile=========*/
.catalog {
  background-color: var(--color-bg);
}
.catalog-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  row-gap: 40px;
}

/* !!!! */
.catalog-item {
  transition-duration: 300ms;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.catalog-price {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.166;
  letter-spacing: -0.02em;
  color: var(--color-black-05);
}

.catalog-item:nth-child(n + 9) {
  display: none;
}
.catalog-title {
  margin-bottom: 40px;
}

.catalog-img {
  margin: 0 auto;
}

/* !!! */
.catalog-require {
  display: block;
  margin-top: 12px;

  font-size: 12px;
  line-height: calc(14px / 12px);
  color: var(--color-dark-green);
  text-align: center;

  transition-duration: 300ms;
  user-select: none;
}

/* !!!! */
.buy-wrap {
  max-width: 108px;
  margin-left: auto;
}

.catalog-content {
  overflow: hidden;
  margin-top: 14px;
}

.catalog-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.285;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

/* !!! */
.selected {
  box-shadow: 0 0 5px 0 var(--color-dark-green);
}

.catalog-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 42px;
  padding: 0;

  background-color: var(--color-dark-green);
  border-radius: 8px;
  border: none;

  font-size: 12px;
  line-height: 1.166;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-white);
  white-space: nowrap;

  transition-duration: 300ms;
}
.catalog-btn:is(:hover, :focus) {
  box-shadow: inset 10rem 0 0 0 rgba(255, 255, 255, 0.3);
}

/* !!! */
.catalog-btn:disabled {
  background-color: grey;
  color: var(--color-white);
  cursor: default;
}

/* !!!!! */
.catalog-btn:disabled:is(:hover, :focus) {
  box-shadow: none;
}

/*==========Catalog overlay=========*/
.catalog-thumb {
  position: relative;
  overflow: hidden;
}
.catalog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 40px 59px 41px 40px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: var(--color-dark-green);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog-item:is(:hover, :focus) .catalog-overlay {
  transform: translateY(0);
}

.catalog-overlay-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.285;
  letter-spacing: -0.02em;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-white);
}
.catalog-overlay-text {
  max-width: 162px;
  font-size: 14px;
  line-height: 1.285;
  letter-spacing: -0.01em;
  font-weight: 400;
  color: var(--color-card);
}
.catalog-overlay-title + p {
  margin-bottom: 14px;
}

@media screen and (max-width: 374px) {
  .catalog-thumb {
    display: block;
    width: 100%;
    padding: 24px 0;
  }

  .catalog-item {
    width: 100%;
  }
  .catalog-overlay {
    padding: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .catalog-overlay-title {
    font-size: 12px;
  }
  .catalog-overlay-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 375px) {
  .catalog-title {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: var(--color-dark-green);
  }
  .catalog-list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  .catalog-item {
    width: 335px;
    display: flex;
    flex-direction: column;
  }

  .catalog-thumb {
    display: block;
    padding: 43px 30px;
  }

  .catalog-price {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.166;
    letter-spacing: -0.02em;
    color: var(--color-black-05);
  }
}
/*==========Tablet=========*/
@media screen and (min-width: 768px) {
  .catalog-title {
    font-size: 40px;
    line-height: 1.11;
  }
  .catalog-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
  }
  .catalog-item {
    width: 336px;
  }

  .catalog-btn {
    width: 122px;
    height: 50px;
  }
  .catalog-overlay {
    padding: 40px 60px 40px 40px;
  }

  .buy-wrap {
    max-width: 122px;
  }
}

/*==========Desktop=========*/
@media screen and (min-width: 1280px) {
  .catalog-title {
    margin-bottom: 64px;
  }
  .catalog-list {
    margin-bottom: 80px;
    column-gap: 24px;
    row-gap: 64px;
  }
  .catalog-item {
    width: 276px;
  }

  .catalog-thumb {
    padding: 0;
    padding: 26px 0px;
  }

  .catalog-item:nth-child(n + 9) {
    display: block;
  }

  .catalog-overlay {
    padding: 20px;
  }
}
