/* epilogue-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/epilogue-v17-latin-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/epilogue-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/epilogue-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/epilogue-v17-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/epilogue-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/epilogue-v17-latin-300.svg#Epilogue') format('svg'); /* Legacy iOS */
}
/* epilogue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/epilogue-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/epilogue-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/epilogue-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/epilogue-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/epilogue-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/epilogue-v17-latin-regular.svg#Epilogue') format('svg'); /* Legacy iOS */
}
/* epilogue-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/epilogue-v17-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/epilogue-v17-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/epilogue-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/epilogue-v17-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/epilogue-v17-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/epilogue-v17-latin-600.svg#Epilogue') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/plus-jakarta-sans-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/plus-jakarta-sans-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/plus-jakarta-sans-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/plus-jakarta-sans-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/plus-jakarta-sans-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/plus-jakarta-sans-v7-latin-regular.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}