@font-face {
  font-display: swap;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/epilogue-v17-latin-300.eot');
  src: url('../fonts/epilogue-v17-latin-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/epilogue-v17-latin-300.woff2') format('woff2'),
  url('../fonts/epilogue-v17-latin-300.woff') format('woff'),
  url('../fonts/epilogue-v17-latin-300.ttf') format('truetype'),
  url('../fonts/epilogue-v17-latin-300.svg#Epilogue') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/epilogue-v17-latin-regular.eot');
  src: url('../fonts/epilogue-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/epilogue-v17-latin-regular.woff2') format('woff2'),
  url('../fonts/epilogue-v17-latin-regular.woff') format('woff'),
  url('../fonts/epilogue-v17-latin-regular.ttf') format('truetype'),
  url('../fonts/epilogue-v17-latin-regular.svg#Epilogue') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/epilogue-v17-latin-600.eot');
  src: url('../fonts/epilogue-v17-latin-600.eot?#iefix') format('embedded-opentype'),
  url('../fonts/epilogue-v17-latin-600.woff2') format('woff2'),
  url('../fonts/epilogue-v17-latin-600.woff') format('woff'),
  url('../fonts/epilogue-v17-latin-600.ttf') format('truetype'),
  url('../fonts/epilogue-v17-latin-600.svg#Epilogue') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/plus-jakarta-sans-v7-latin-regular.eot');
  src: url('../fonts/plus-jakarta-sans-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/plus-jakarta-sans-v7-latin-regular.woff2') format('woff2'),
  url('../fonts/plus-jakarta-sans-v7-latin-regular.woff') format('woff'),
  url('../fonts/plus-jakarta-sans-v7-latin-regular.ttf') format('truetype'),
  url('../fonts/plus-jakarta-sans-v7-latin-regular.svg#PlusJakartaSans') format('svg');
}