:root {
  --color-bg: #fbfbfb; /*background color */
  --color-white: #fff;
  --color-dark-green: #1e2827;
  --color-black: #141414;
  --color-black-05: #14141480; /* rgba(20, 20, 20, 0.5);*/
  --color-black-04: #14141466; /* rgba(20, 20, 20, 0.4);*/
  --color-card: #ffffff80; /* rgba(255, 255, 255, 0.5);*/
  --color-border: #ffffff1a; /* rgba(255, 255, 255, 0.1);*/
  --color-copyright: #c6cdd1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;

  /*outline: 1px solid tomato;*/
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }

  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 52px;
    padding-right: 52px;
    width: 1280px;
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25em;
  color: var(--color-dark-green);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 1.1em;
  }
}
