img{
    max-width: none;
}

@media screen and (min-width: 375px) {

  }
  
  .section-sale {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: var(--color-bg);
  }
  
  .sale-titel {
    font-weight: 600;
    font-size: 32px;
    line-height: calc(40 / 32);
    letter-spacing: -0.02em;
    color: var(--color-black);
    margin-bottom: 40px;
  }
  
  .sale-gallery {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
  }
  .cart-set {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
  }
  
  .picture {
    background:var(--color-black);
  width: 80px;
  height: 80px;
  }
  
  .sale-bg-big {
    background:var(--color-black);
    width: 235px;
    height: 350px;
  }
  
  .sale-big-img {
    display: block;
    margin: 0 auto;
    width: 235px;
    height: 100%;
  }
  
  .sale-watch-img-one {
    display: block;
    width: 64px;
    margin: 0 auto;
  }
  
  .title-watch-name {
    width: 335px;
    font-weight: 400;
    font-size: 24px;
    line-height: calc(24 / 24);
    letter-spacing: -0.02em;
    color: var(--color-black);
    margin-bottom: 8px;
  }
  .sale-producy {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: var(--color-black-05);
    margin-bottom: 16px;
  }
  .value-sale {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: -0.02em;
    color: var(--color-black);
    margin-right: 8px;
  }
  .value-full-price {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: var(--color-black-05);
  }
  .price-mrp {
    margin-bottom: 40px;
  }
  .liniya {
    border-top: 1px solid var(--color-black);
    margin-bottom: 8px;
  }
  .sale-description {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: 17px;
    position: relative;
  }
  .sale-description::after {
    content: "";
    width: 16px;
    height: 1px;
    background-color: var(--color-black);
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
  }
  .description-functional {
    width: 335px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.01em;
    color: var(--color-black-05);
    margin-bottom: 40px;
  }
  .description-functional:last-child {
    margin-bottom: 0;
  }
  
  @media screen and (min-width: 768px) {
   
    
    .section-sale {
      padding-top: 128px;
      padding-bottom: 128px;
    }
    .sale-titel {
      font-size: 40px;
      line-height: calc(44 / 40);
      color: var(--color-dark-green);
      margin-bottom: 40px;
    }
    .sale-tabl-infor {
      padding: 0 66px;
    }
    .cart-set {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      list-style: none;
    }
    .picture {
      width: 146px;
      height: 146px;
    }
    
    .sale-bg-big {
    
      width: 406px;
      height: 614px;
    }
    
    .sale-big-img {
      width: 406px;
    }
    .sale-watch-img-one {
      width: 112px;
      
    }
  
    .title-watch-name {
      width: 572px;
      font-size: 38px;
      line-height: calc(42 / 38);
    }
    .description-functional {
      width: 572px;
    }
  }
  @media screen and (min-width: 1280px) {
  
    
    .section-sale {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .sale-tabl-infor{
      display: flex;
      gap: 40px;
    }
    .sale-titel {
      margin-bottom: 80px;
    }
    .sale-tabl-infor {
      padding: 0 97px;
    }
    
    .sale-watch-img-one {
      width: 102px;
      
    }
    .sale-desktop-text{
      width: 369px;
    }
    .title-watch-name {
      width: 369px;
      line-height: calc(40 / 38);
    }
    .description-functional {
      width: 369px;
    }
  }
  