/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about_us.css');
@import url('./catalog.css');
@import url('./new_watches.css');
@import url('./sale.css');
@import url('./footer.css');

@import url('./buy_now.css');
@import url('./burger_menu.css');


:root {
  --color-white: #fff;
  --color-dark-green: #1E2827;
  --color-black: #141414;
  --color-black-05: #14141480; /* rgba(20, 20, 20, 0.5);*/
  --color-black-04: #14141466; /* rgba(20, 20, 20, 0.4);*/
  --color-card: #ffffff80; /* rgba(255, 255, 255, 0.5);*/
  --color-border: #ffffff1a; /* rgba(255, 255, 255, 0.1);*/
  --color-copyright: #C6CDD1;


}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

/*global container*/
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid tomato;
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {

  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {

  .container {
    width: 1176px;
  }
}